// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #0077FF;
$primary-1 : #EDF1F6;
$bage : #F5F3ED;
$secondary : #D9005F;
$dark      : #1D1D1D;
$positive  : #00FFCB;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
