.mypage{
  .myPoint{
    margin-bottom:10px;
    background:$primary;
    padding:15px;
    border-radius:8px;
    span{
      display:block;
      color:#fff;
    }
    strong{
      display:block;
      text-align:right;
      font-size:32px;
      color:#fff;
    }
  }
  .divider{
    height:1px;
    background:$grey-4;
    margin:30px 0;
  }
  .btns{
    border:1px solid $grey-5;
    border-radius:8px;
    overflow:hidden;
    .q-btn{
      height:45px;
      flex:1;
      border-radius: 0;
    }
  }

  .useListTop{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
    h6{
      font-size:16px;

      b{
        color:$secondary
      }
    }
  }

  .useList{
    padding-bottom:50px;
    .q-infinite-scroll{
      display:flex;
      flex-direction: column;
      gap:10px;
    }
    .useItem{
      padding:15px;
      border:1px solid $grey-5;
      border-radius:8px;
      .top{
        display:flex;
        align-items: center;

        label{
          display:flex;
          align-items: center;
          font-size:11px;
          height:22px;
          border-radius:12px;
          padding:0 10px;
          background: $primary;
          color:#fff;
          margin-right:10px;
        }
        span{
          font-size:12px;
        }
      }
      .name{
        font-size:16px;
        margin:10px 0;
      }

      .state{
        display:flex;
        gap:10px;

        dl{
          flex:1;
          text-align:left;
          border-right:1px solid $grey-5;

          &:last-child{
            border-right:0;
          }
          dt{
            font-size:10px;
            color:$grey-7;
          }
          dd{
            font-size:14px;
          }
        }

        dl.last{
          dd{
            color:$primary;
            font-weight:600;
          }
        }
      }
    }
  }
}