.finish{
  display:flex;
  flex-direction: column;
  background:#fff;
  height:calc(var(--vh, 1vh) * 100);


  .inner{
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex:1;

    .top{
      display:flex;
      flex-direction: column;
      align-items: center;
      margin:40px 0;
  
      .icon{
        padding:5px;
        border:10px solid #f2f2f2;
        border-radius:100px;
        margin-bottom:30px;
        
  
        .q-icon{
          font-size:90px;
          color: #0077ff;
          animation: rotateIcon 1s ease forwards;
        }
      }

      @keyframes rotateIcon {
        0%{
          transform: rotate3d(1, 1, 1, 0deg) scale(0.3);
        }
        100%{
          transform: rotate3d(2, -1, -1, 720deg) scale(1)
        }
      }
  
      dl{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        dt{
          font-size:26px;
          font-weight:bold;
          letter-spacing: -0.7px;
        }
        dd{
          margin-top:5px;
          font-size:14px;
          b{
            font-weight:bold;
            color:#d22828;
          }
        }
      }
    }
  
   
    .btns{
      display:Flex;
      justify-content: center;

  
      .btn{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:0 20px;
  
        .q-btn{
          background:#fff;
          width:50px;
          height:50px;
          box-shadow: 3px 3px 10px rgba(0,0,0,0.05);
          border:1px solid #e2e2e2;
          .q-icon{
            color:#0077ff;
          }
        }
        span{
          display:block;
          margin-top:10px;
          font-size:11px;
        }
      }
    }
  }
  .guide{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    // border-top:1px solid #e2e2e2;
    padding:20px;
    border-radius:30px 30px 0 0;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.05);
    background:#fff;

    .image{
      width:100%;
      img{
        width:100%;
        height:180px;
        object-fit: cover;
        border-radius:20px;
        border:1px solid #e2e2e2;
      }
    }
    p{
      display:flex;
      align-items: center;
      margin-top:10px;
      font-size:14px;
      background:#f2f2f2;
      padding:5px 15px;
      border-radius:20px;
      text-align:center;
      b{
        font-weight:bold;
        color:#d22828;
      }
    }
  }
}