.product{
  padding:0 25px;
  padding-bottom:80px;
  min-height:100vh;
  
  .top{
    margin-bottom:40px;

    p{
      color:#898989;
      margin-bottom:5px;
    }

    .selectBtn{
      display:flex;
      align-items: center;
      padding-bottom:5px;
      border-bottom:2px solid $dark;

      label{
        font-size:22px;
        font-weight:bold;
        flex:1;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        letter-spacing: -0.4px;
      }
      .q-icon{
        margin-left:10px;
      }
    }

  }

  .selectBtns{
    position: relative;
    background:$grey-3;
    border-radius:25px;
    overflow:hidden;
    margin-bottom:40px;

    .q-btn{
      position: relative;
      z-index:2;
      flex:1;
      height:50px;
      border-radius:25px;
      color:$grey-7;
    }
    .q-btn.active{
      color:#fff;
    }

    span{
      z-index:1;
      position: absolute;
      left:0;
      width:50%;
      background:$primary;
      border-radius:25px;
      height:50px;
      transition: left .3s ease;
    }

    span.right{
      left:50%;
    }
  }


  h6{
    display:flex;
    align-items: center;
    font-size:14px;
    margin-bottom:10px;
    font-weight:normal;
    color:#898989;


    &::before{
      display:inline-block;
      margin-right:5px;
      content:'';
      height:14px;
      width:3px;
      background:#e2e2e2;
    }
    
  }
  
  

  .goodsList{
    display:flex;
    flex-direction: column;
    gap:15px;

    .goodsItem{
      border:1px solid #e2e2e2;
      padding:15px;
      border-radius:8px;
      align-items: center;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.07), 1px 1px 2px rgba(0,0,0,0.03);
     
        span,strong{
          display:block;
        }

        .left{
          flex:1;
          margin-right:20px;

          label{
            color:$secondary;
            font-size:12px;
            font-weight:bold;
          }
          strong{
            font-size:16px;
            font-weight:normal;
            line-height:1.2;
            margin:2px 0;
          }
          span{
            font-size:12px;
            color:#898989;
          }
      } 

      .right{
        span{
          text-align:right;
          font-size:12px;
          color:$grey-7;
          text-decoration: line-through;
        }
        strong{
          font-size:20px;
          line-height:1;
          color:$primary;

          &:after{
            content:'원';
            font-size:14px;
            font-weight:normal;
            color:$dark;
          }
        }         
      }

      .q-icon{
        background:#eaeaea;
        border-radius:50%;
        margin-left:15px;
      }
    }
  }


  .coinInput{
    .coinState{
      font-size:18px;
      height:50px;
      border-radius:8px;
      display:flex;
      padding:0 15px;
      font-weight:600;
      align-items: center;
      background:$primary-1;
      color:$primary;
    }

    .btns{
      display:flex;
      align-items: center;
      gap:10px;
      margin-top:10px;
      .q-btn{
        flex:1;
        border:1px solid $dark;
        border-radius:8px;
      }
    }

    .finish{
      .q-btn{
        width:100%;
        height:50px;
        margin-top:20px;
        background:$dark;
        color:#fff;
        border-radius:8px;
      }
    }
  }

  .divider{
    margin:30px 0;
    height:1px;
    background:#e2e2e2;
  }

  .company{
    display:flex;
    flex-direction: column;
    gap:4px;
    margin-top:40px;
    strong,span{
      display:block;
      color:#aaa;
    }
    strong{
      font-weight:normal;
      margin-bottom:5px;
    }
    span{
      font-size:11px;
      color:#aaa;
    }
    
  }
}

