.q-card{
  min-width:300px;
  border-radius:8px;
}

.inner{
  display:flex;
  flex-direction: column;
  gap:10px;

  .input-form{
    label{
      display:block;
      font-size:12px;
      margin-bottom:5px;
    }
  }
}
