.header{
  display:flex;
  align-items: center;
  height:70px;
  padding:0 15px;

  .q-btn{
    background:$grey-3;
  }

  h6{
    margin-left:15px;
  }
}

.detail{
  .divider{
    height:8px;
    background:#f4f4f4;
    margin:30px 0;
  }

  .title{
    margin-bottom:40px;
    padding:0 25px;
    padding-top:25px;
    h5{
      font-size:22px;
      font-weight:normal;

      b{
        color:$primary
      }
    }
    p{
      margin-top:5px;
      color:$grey-7;
    }
  }

  dl{
    padding:0 25px;
    dt{
      font-weight:bold;
      font-size:16px;
    }
    dd{
      margin-top:15px;
    }
  }


  dl.goods{
    dt{}
    dd{
      height:45px;
      display:flex;
      align-items: center;
      border:1px solid #e2e2e2;
      border-radius:8px;

      padding:0 15px;
      span{
        flex:1;
        margin-right:10px;
      }
      strong{
        font-size:16px;
        font-weight:normal;
      }
    }
  }

  dl.point{
    .myPoint{
      display:flex;
      align-items: center;
      justify-content: space-between;
      background:$primary-1;
      border-radius:8px;
      padding:0 15px;
      height:50px;
      margin-bottom:10px;
      span{
        font-size:12px;
        color:$grey-7;
      }
      strong{
        font-size:16px;
        font-weight:normal;
        
      }
    }

    .pointUse{
      .pointUseView{
        height:50px;
        border-radius:8px;
        border:1px solid #e2e2e2;
        margin-bottom:10px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:0 15px;

        span{
          font-size:12px;
          color:$grey-7;
        }
        strong{
          font-size:16px;
          color:$primary;
        }
      }

      .pointUseBtns{
        display:Flex;
        gap:5px;
      }
      .q-btn{
        flex:1;
        border:1px solid $dark;
        height:40px;
        border-radius:8px;
      }

      .q-btn.all{
        background:$primary;
        color:#fff;
        border:0;
      }
    }
  }


  .credit{
    dd.credit_info{
      p{
        margin-bottom:20px;
        background:#FBF1F5;
        padding:10px;
        border-radius:5px;

        b{
          color:$secondary;
        }
      }

      .total{
        display:flex;
        align-items: center;
        justify-content: space-between;

        strong{
          font-size:20px;
          color:$primary;
        }
      }
      
      ul{
        display:flex;
        flex-direction: column;
        gap:8px;
        margin:0;

        li{
          display:flex;
          justify-content: space-between;
          align-items: center;

          span{
            font-size:12px;
          }
        }

        li.point{
          strong{
            color:$secondary
          }
        }
      }
    }

    

    .divider{
      height:1px;
      background:#e2e2e2;
      margin:15px 0;
    } 
  }


  .finish{
    padding:0 25px;
    padding-bottom:40px;
    
    ul{
      display:flex;
      flex-direction: column;
      border:1px solid #e2e2e2;
      border-radius:8px;
      overflow:hidden;

      li{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:45px;
        padding:0 10px;
        border-bottom:1px solid #e2e2e2;
        &:last-child{
          border-bottom:0;
        }


        .q-checkbox{
          padding:0;
          height:unset;
        }
            
        .q-btn.agreeBtn{
          min-height:24px;
          padding:0 8px;
          font-size:11px;
        }
      }
    }

    .divider{
      margin:30px 0;
    }
  
    .company{

      margin-top:25px;
      gap:4px;

      strong{
        display:block;
        font-weight:normal;
        margin-bottom:5px;
        color:#595959;
      }
      span{
        display:inline-block;
        margin-right:5px;
        font-size:11px;
        color:#aaa;
      }
      
    }
  }

  .bottom_btns{
    margin-top:20px;
    .q-btn{
      width:100%;
      height:50px;
      background:$primary;
      color:#fff;
      border-radius:8px;
    }
  }

  
}